.App{
  border: 0.5px solid rgba(0,0,0,0.3);
  width:20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 2vh 2vh 2vh;
  margin-left: 35em;
  margin-top: 3em;
  height: auto;
  -webkit-box-shadow: -22px 38px 63px -6px rgba(0,0,0,0.31);
  -moz-box-shadow: -22px 38px 63px -6px rgba(0,0,0,0.31);
  box-shadow: -22px 38px 63px -6px rgba(0,0,0,0.31);
  background-color: aliceblue;


}


body{
  background-color: rgba(0,0,0,0.15);
}
